name: Approve PR action

on:
  pull_request:
    types: [opened, synchronize, reopened]

env:
  APPROVER1: kurnakovv
  APPROVER2: aboba

jobs:
  approve_check:

    runs-on: ubuntu-latest

    steps:
    - name: Check author permission
      run: |
        echo "Triggered by: ${{ github.triggering_actor }}"
        echo "Attemp number: ${{ github.run_attempt }}"

        if [[ ${{ github.triggering_actor }} != "$APPROVER1" && ${{ github.triggering_actor }} != "$APPROVER2" ]]; \
        then
          echo "::error ::❌ This pull request needs approval from $APPROVER1 or $APPROVER2"
          exit 1
        fi

        if [[ "${{ github.run_attempt }}" == 1 ]]; then
          echo "::error ::❌ $APPROVER1 or $APPROVER2 must re-run this job"
          exit 1
        fi

        echo "✅ Hooray! PR approved by ${{ github.actor }}"
